

  .display {
    display: block;
  }
  .hide {
    display: none;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header .img{
    height: 90px;
    width: 140px;
  }
  
  header{
    width: 100%;
    background: rgb(21, 10, 41);
    padding: 1em 0;
    justify-content:space-around;
    align-items: center;
    display: flex;
  }
 
  
.mainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  height: 340px;
  margin-top: 200px;
}
.mainContainer .text{
  margin-top: 47px;
  text-align: center;
  font-size: 30px;
  color: rgb(4, 80, 29);
  font-family: 'Marcellus SC', serif;
  text-shadow: 0.0625rem 0.0625rem 0.375rem #35ce21;
}
.mainContainer p {
  margin-top: 30px;
  text-align: center;
  font-size: 1.875rem;
  color: rgb(4, 80, 29);
  font-family: 'Marcellus SC', serif;
  text-shadow: 0.0625rem 0.0625rem 0.375rem #35ce21;
}
.mainContainer .btn{
  margin-top: 40px;
  
}
  
  .text1{
    width: 33%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-color: rgb(20, 1, 27);;
    color:rgb(11, 170, 143,0.5);
  }
  h2{
    font-size:17px;;
    color:  #fdd008;
  }

body{
  background: url(./img/Inicio.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1;
  font-size: 1rem;
  color: #333;
  width: 100%;
}

.labels-sort{
  display: none;
}

.space-around{
  justify-content: space-around;
}

.flex{
display: flex;
}
.site-nav{
  left: -190px;
  position: absolute;
  clip-path: circle(0px at top left); 
  transition: clip-path ease-in-out 400ms;
  background: rgb(245, 152, 12);
  z-index: 30;
  margin-top: 40px;
 
 
}  
.site-nav-open{
  clip-path: circle(150% at top right);
  z-index: 30;}

.imagen{
  background: url(./img/Inicio.jpg);
  background-attachment: fixed;
  background-size: cover;
  line-height: 1;
  font-size: 1rem;
  color: #333;
  width: 100%;
  height: 500px;
}

 ::-webkit-scroll,
::-webkit-scrollbar {
  width: 0.9025rem;
  background-color: rgb(250, 250, 250,0.5)
}  

 ::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: linear-gradient(rgb(2, 129, 8), rgba(19, 5, 71, 0.541));
} 
.site-nav li{
  border-bottom: 1px solid rgb(240, 240, 245);
  z-index: 30;
  }

.hola{
  color: rgb(30, 4, 71,0.5);
  display: block;
  padding: 2em 3em;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 400;
  margin-left: 200px;
} 

.tipo li a:hover{
  background: rgb(245, 152, 12,0.5);
  color: rgb(30, 4, 71);
  z-index: 300;
}


.site-nav ul li ul{
  display:none;
  z-index: 300;
}
.site-nav ul li:hover ul{
  display: block;
  z-index: 300;
}
.fa{
  color: rgb(245, 152, 12,0.5);
  background: rgb(30, 4, 71);
  display: block;
  padding: 2em 6em;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 300;
  margin-left: 180px;}
.menu{
  padding: 1em;
  position: absolute;
}
.menu-open .hamburguesa{
  transform: rotate(45deg);
}
.menu-open .hamburguesa::after{
  transform:translateY(-3px) rotate(-90deg);
}
.menu-open .hamburguesa::before{
  opacity: 0;
}

.hamburguesa,
.hamburguesa::before,
.hamburguesa::after{
  content: "";
  display: block;
  background: rgb(14, 2, 46);
  height: 3px;
  width: 1.2em;
  border-radius: 3px;
}
.hamburguesa::after{
  transform: translateY(3px);
}
.hamburguesa::before{
  transform: translateY(-6px);
}

img {
  width: 220px;
  height: 150px;
  z-index: 20;
  
} 
.product-list figure {
  border: thin #7c7777 solid;
  display: flex;
  flex-flow: column;
  padding: 9px;
  max-width: 200px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 15px 25px
  rgba(0, 0, 0, 50);
  cursor: pointer;
  z-index: 20;
      margin: 10px
}
.product-list figure img {
  max-width: 100%;
  max-height: 100%;
  transition: all 500ms ease-in-out;
  margin: 10%x;
  z-index: 20;
  margin-top: -18px;
}
.product-list{
 /*  margin-top:40px; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  height: 100%;
  flex-wrap: wrap;
  padding: 60px;
  z-index: 20;
  overflow: scroll;
  background: rgb(223, 215, 236,0.6);
  border-radius: 13px;
  height: 700px;
}
figure{
  height: 190px;
  margin-left: 10px;
  z-index: 20;
}

.product-list figure .capa{
  position: absolute;
  top : 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 4, 75, 0.7);
  transition: all 500ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  left: 0px;
  right: -5px;
  border-radius: 4px;
  z-index: 20;
}
.product-list figure:hover > .capa{
  opacity: 1;
  visibility: visible;
  z-index: 20;
}
.product-list figure:hover > img{
  transform: scale(1.2);
  z-index: 20;
}

.product-list figure:hover > .capa h3{
  margin-top: 70px;
  margin-bottom: 15px;
  z-index: 20;

}
.product-list figure .capa h3{
  color: #fff;
  font-weight: 200;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
  z-index: 20;
  font-family:fantasy;
}
.product-list figure .capa p{
  color: #fff;
  font-size: 15px;
  line-height: 1.3;
  max-width: 200px;
  z-index: 20;
  font-family:inherit;
  margin: 12px;
}


figcaption {
     /* background: cadetblue; */
     color: #150a29;
     font-family: fantasy;
     /* padding: 0px; */
     font-size: 20px;
     text-align: center;
     z-index: 20;
     text-transform: uppercase
  
}

.text {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  margin-top: 17px;
  border-color: rgb(11, 170, 143);
}

.text:hover{
  border-collapse: collapse;
  color: rgb(11, 170, 143,0.5);
  cursor:text;
}

.portada2{
  justify-content:space-around;
  align-items: center;
  display: flex;
  width: 100%;
  background: transparent;
  padding: 1em 0;
  height: 100%;
  flex-wrap: wrap;

}

.dropdown1{
  width: 72px;
  padding: 12px 1px 12px 8px;
  /* border-radius: 4px; */
  /* background-color: white; */
  /* border: 1px solid rgb(11, 170, 143); */
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: black;


}
.portadaCen{
  margin-right:260px ;
  position: absolute;
    margin-top: 190px;
}

 @media(min-width:700px){ 
  body{
    background: url(./img/Inicio.jpg);
    background-attachment: fixed;
    background-size: cover;
    line-height: 1;
    font-size: 1rem;
    color: #333;
    width: 100%;
  }

  h2{
    font-size:27px;;
    color: rgb(255, 230, 0);
  }
  .portada2{
    justify-content:flex-end;
    align-items:center;
    display: flex;
    width: 100%;
    padding: 1em 0;
    float: right;
      }
.dropdown2{
  margin-right: 320px
}
.dropdown1{
  margin-right:30px
}
  .menu{
    display: none;
  } 
  .labels-sort{
    display: none;
  }
.space-around{
    justify-content: space-around;
    background: rgb(21, 10, 41);
  }

.flex{
  display: flex;
}
div{
  display: block;
}
.labels-sort label{
  margin-left: 400px;
  z-index: 40;
  margin-top: 50px;

} 

 .labels-sort nav{
  background:transparent;
  float: left;
  margin-left:330px;
  clip-path: initial;
  align-content: center;
  padding: 0.1em 3em;
  z-index: 30;
}

.site-nav ul li{
  display: inline-block;
  border:none;
  left: -50px;
  z-index: 30;
}
.site-nav a{
  padding:0;
  margin-left: 4em;
  color: white;
  position: relative;
  z-index: 30;
}

.tipo{
  display:block;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 570px;
  height: 198px;
  z-index: 30;
} 
.tipo li a{
  padding: 1em 1.2em;
  line-height:unset;
  display: flex;
  white-space:nowrap;
  width: 100%;
  z-index: 30;
} 
.tipo li {
  width: 20%;
  float: left;
  z-index: 30;
} 

.site-nav ul li{
  float: left;
  list-style: none;
  position: block;
  z-index: 30;
} 
nav ul li a{
  display: block;
  padding: 0 2rem;
  line-height: 2rem;
  text-decoration: none;
  width: 55%;
  z-index: 30;
}
  .fa{
  background: rgb(6, 202, 170,0.7);
  display: block;
  text-transform: uppercase;
}

.tipo li a:hover{
  background:  rgb(30, 4, 71,0.8);
  color: rgb(223, 215, 236);
  width: 100%;
}

.product-list{
  width: 75%;
  margin-left: 140px;
}
.text {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  margin-top: 17px;
  border-color: rgb(11, 170, 143);
}
.text:hover{
  border-collapse: collapse;
  color: rgb(11, 170, 143,0.5);
  cursor:text;
}

#btn{
  margin-left: 100px;
  background: red;}

footer {
  width: 100%;
  display: flex;
  padding-top: 10%;
  justify-content: space-between;
  background: white;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right:hover {
  text-shadow: 0.0625rem 0.0625rem 0.375rem #07cbe9;
}

#left {
  width: min-content;
  display: flex;
  text-align: right;
}

#left a:link,
#left a img {
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.imgRedes:hover {
  border-radius: 50%;
  box-shadow: inset 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;
}

#compartir {
  height: 1.8rem;
  width: 1.8rem;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
    .play {
  padding: 8px 10px;
  font-size: 13px;
  line-height: 7px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right bottom, #b3a102, transparent);
  color: #fff;
  border-radius: 5px;
  border: 0px;
  height: 30px;
  margin-top: 13px;
}

.btn {
  padding: 10px 20px;
  font-size: 22px;
  line-height: 20px;
  min-width: 120px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right bottom, #39e639, #079992);
  color: #fff;
  border-radius: 5px;
  border: 0px;
  height: 50px;
}

#logoPokemon {
  z-index: 3;
  height: 150px;
}


.audio {
  top: 3px;
  right: 10px;
  position: absolute;
}

.audio audio {
  width: 150%;
  height: 150%;
  filter: blur(23px);}

.counter{
  color: #333;
} 

}


/*Pantalla Modal*/

.modal-font{
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 1em;
  font-weight: bold;
}

.f-green{
  color: #fdd008; 
}

.f-black{
  color: #333333;
}
.f-gray{
  color: #464343;
}
.font{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-transform: capitalize;
}
.font1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: capitalize;
  font-size: 12px;
  color: white;
}

#modal-mode{  
  width:100%; 
	background: rgba(252, 252, 252, 0.779);
	position:fixed;
	top:0;
	left:0; 
  z-index: 999;
  align-content: center; 
  height: 100%;
  margin: auto;
}

#modal-window{
  background: rgb(2, 0, 0);
  position: relative;
  top: 20%;
  width: 60%;
  height: 67%;
  border-radius: 15px;
  margin: auto;
  z-index: 1;
 }

 #div-img-modal{
  z-index: 0;
  width: 20vh;
  height: 20vh;
  position: absolute;
  top:-10vh;
  background: rgb(0, 0, 0);
  border-radius: 8em;
  left: calc((100% - 130vh)/2);
  margin-top: 10px
  }
  #img-pokemon-modal{
    position: relative;
    left: calc((20% - 40px)/2);
    width: 120px;
    height: 120px;
  }
  #pokemon-name-modal{
    display: block;
    color:  #fdd008;
    padding: .1rem 0;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    font-size: 28px;
    z-index: 99
  }
  

  /* caracteristicas del modal */
  .nombrePoke{
    text-align: center;
    color: #fcdd00;
    width: auto;
    position: relative;
    top: 60px;
    font-size: 30px;
    text-transform: uppercase;
  } 
  .Characters{
    text-align: center;
    color: #00cafc;
    width: auto;
    position: relative;
    top: 60px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .icono{
    height: 30px;
    width: 30px;
  }
  .column-1{  
    width: 19%;
    height: auto;
    margin: 4px;
    border-radius: 28px
  }

 
.flex-wrap{ 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
}

.color-container{ 
  background-color: rgb(253, 253, 251); 
}
.block{ 
  display: block; 
}

.icon-medium{
  width: 30px;
  height: 32px;
  margin: 1px;
}
.one-fraction{
  text-transform: capitalize;  
  text-align: center;
  width: 100%;
}


.f-medium{
  font-size: 1.5em;;
}

.font-g{
  font-family: system-ui;
  font-weight: 700;
  text-transform: capitalize;
}
.f-medium-g{
  font-size: 0.5em;;
}

#pokemon-generacion-modal{
  display: block;
  color: rgb(6, 241, 202);
  padding: .1rem 0;
  width: 100%;
  text-align: center;
  margin-top: 3px;
  font-size: 16px;
}
.column-2{
  width: 39%;
  height: auto;
  padding: .2em 0;
  margin: 3px;

}
.modal2{
  margin-top: 9px;}
  
.flex-wrap2{
  display: flex; 
  flex-wrap: wrap; 
  margin-left: 29px;
  flex-direction: column;
}
.color-container2{ 
  background-color: transparent
}

.font2{
  font-weight: bolder;
  text-align: inherit;
  text-transform: capitalize;
  color: #35ce21;
}
.column-3{
  width: 39%;
  height: auto;
  padding: .2em 0;
  margin: 3px;

}
.flex-wrap3{
  display: flex; 
  flex-wrap: wrap; 
  margin-left: 29px;
}
.color-container3{ 
  background-color: transparent
}

.font3{
  font-weight: bolder;
  text-align: inherit;
  text-transform: capitalize;
  color: #35ce21;
}
.color-gray2{
  color: #faf4f4;
  font-size: 16px;
  font-family: -webkit-pictograph;
  font-weight: inherit;
  transition: clip-path ease-in-out 400ms;
}
.box1 {
  color:  #fdd008;
  width: 220px;
  padding: 20px;
  border: 1px solid #3c6;
  margin: 10px}

.box{
  flex-direction: column;
}
.titulo{
  margin-bottom: 7px;
  color: white;
  font-size: 20px;
}
.caract{
  color: rgb(51 204 102);
  font-size: 14px;
}
/* tabla de stats */
img.icon-small{
  width: 20px;
  height: 20px;
  right: 1em;
  top: 1em;      
}
.column-4{  
  width: 100%;  margin: 3px 0 3px 0;}

.fontTabla{
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: bolder;
  /* text-align: center; */
  text-transform: capitalize;
}

/* triple tabla de contenidos */

.two-fraction{
  text-transform: capitalize; 
  text-align: center;
  width: 45%;
}
 .f-blue{
  color: #04617e; 
}
.column-5{    
  margin: 3px 1px;
/*  width: 47%;  */  
  margin: 3px;  
}
.tablas{
  display: flex;
}

/* botones muestran datos estadisticos */
#DatosExt{
  flex-direction: column;
  width: 100%;
  position: absolute;
  float: right;
 /*  height: 30%; */
  align-content: center
}
.pepo{
  margin: 5px;
  color: rgb(253, 249, 7);
  background-color: #247530;
  border-radius: 8px;
  width: 10%;
  text-align: center;
  float: right;
  padding: 12px 1px 12px 8px;
  font-size: 15px;
  font-weight: bold;
 
}

/* otros */

.relleno{
  height: 90px;
  width: 100%;
}


  /* caracteristicas del modal */