  .display {
    display: block;
  }
  .hide {
    display: none;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header .img{
    height: 90px;
    width: 140px;
  }
  
  header{
    width: 100%;
    background: rgb(21, 10, 41);
    padding: 1em 0;
    justify-content:space-around;
    align-items: center;
    display: flex;
    height: 120px;
    height: fit-content;
    margin: 10px auto;
    position: sticky;
    top:0;
    z-index: 999;
    border-bottom: groove;}
 

/* Main from the cover */

.mainContainer {
  width: 100%;
  height: 633px;
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: space-between;
}

.mainInfo {
  height: 300px;
  justify-content: flex-end;
  margin-right: 150px;
}


.frase {
  margin-bottom: 30px;
  color: white;
  font-weight: bold;
  vertical-align: inherit;
  align-self: baseline;
  justify-content: center;
  position: absolute;
  margin: 40px;
}
.frase:hover{
  text-shadow: 0.0625rem 0.0625rem 0.375rem #74ff02;
}


/*Logo pokemon*/

.mainLogo{
  display: flex;
  height: 367px;
  margin-left: 120px;
}
.logo1{
  width: 234px;
  height: 163px;  
}


/*Button +Information*/

.btn-neon{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: rgb(30, 4, 71); 
  letter-spacing: 2px;
  font: 24px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.btn-neon:hover{
  background: rgb(255, 230, 0);
  box-shadow: 0 0 10px rgb(255, 230, 0), 0 0 40px
  rgb(255, 230, 0), 0 0 80px rgb(255, 230, 0);
  transition-delay: 1s;
}

.btn-neon span{
  position: absolute;
  display: block;
}

#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,rgb(255, 230, 0));
}

.btn-neon:hover #span1{
  left: 100%;
  transition: 1s;
}

#span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,rgb(255, 230, 0));
}

.btn-neon:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,rgb(255, 230, 0));
}

.btn-neon:hover #span2{
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,rgb(255, 230, 0));
}

.btn-neon:hover #span2{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.755s;
}

/*Input Name */

.form{

  padding: 10px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}

.form input{
 
  background: none;
  color: #10147d;
  border: none;
  outline: 0px;
  margin-bottom: 10px;
  margin: 0;
  font-size: 16px;
}

.form .lbl-name{
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #59e209;
}

.form .lbl-name::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100px;
  height: 100px;
  border-bottom: 3px solid #59e209;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.text-nomb{
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: #faf4f4;
}

.form input:focus + .lbl-name .text-nomb,
.form input:valid + .lbl-name .text-nomb{
  transform: translateY(-150%);
  font-size: 14px;
  color:#59e209;
}

.form input:focus + .lbl-name::after,
.form input:valid + .lbl-name::after{
  transform: translateX(0%);
}

/*End Button Name*/



.input-group {
  display: flex;
  flex-direction: column;
}
.with-icon {
  position: relative;
}
.icon {
  position: absolute;
  top: 10px;
  height: 20px;
  left: 8px;
  width: 10%;
}

.text1{
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-color: rgb(20, 1, 27);
    color:rgb(11, 170, 143,0.5);
  }
  h2{
    font-size:17px;;
    color:  #fdd008;
    text-transform: capitalize;
  }

body{
  background: url(./img/fondo.png) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1;
  font-size: 1rem;
  color: #333;
  width: 100%;
  opacity:inherit;
  background-position:bottom ;
}
.gif {
  height: 326.7px;
  margin-top: 122px;
  width: 200px;
  position: absolute;
  margin-left: 2px;
}
.buttons{
  position: absolute;
}
.labels-sort{
  display: none;
}

.space-around{
  justify-content: space-around;
}

.flex{
display: flex;
}
.site-nav{
  left: -190px;
  position: absolute;
  clip-path: circle(0px at top left); 
  transition: clip-path ease-in-out 400ms;
  background: rgb(217 39 42);
  z-index: 30;
  margin-top: 40px;
 
 
}  
.site-nav-open{
  clip-path: circle(150% at top right);
  z-index: 30;}

.imagen{
  background: url(./img/Inicio.jpg);
  background-attachment: fixed;
  background-size: cover;
  line-height: 1;
  font-size: 1rem;
  color: #333;
  width: 100%;
  height: 500px;
}

 ::-webkit-scroll,
::-webkit-scrollbar {
  width: 0.9025rem;
  background-color: rgb(250, 250, 250,0.5)
}  

 ::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: linear-gradient(rgb(2, 129, 8), rgba(19, 5, 71, 0.541));
} 
.site-nav li{
  border-bottom: 1px solid rgb(240, 240, 245);
  z-index: 30;
  }

.hola{
  color: rgb(30, 4, 71,0.5);
  display: block;
  padding: 2em 7em;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 400;
  margin-left: 200px;
  font-size: 20px
} 

.tipo li a:hover{
  background: rgb(245, 152, 12,0.5);
  color: rgb(30, 4, 71);
  z-index: 300;
}


.site-nav ul li ul{
  display:none;
  z-index: 300;
}
.site-nav ul li:hover ul{
  display: block;
  z-index: 300;
}
.fa{
  color: rgb(245, 152, 12,0.5);
  background: rgb(30, 4, 71);
  display: block;
  padding: 2em 6em;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 300;
  margin-left: 180px;
  text-align: center;}
.menu{
  padding: 1em;
  position: absolute;
}
.menu-open .hamburguesa{
  transform: rotate(45deg);
}
.menu-open .hamburguesa::after{
  transform:translateY(-3px) rotate(-90deg);
}
.menu-open .hamburguesa::before{
  opacity: 0;
}

.hamburguesa,
.hamburguesa::before,
.hamburguesa::after{
  content: "";
  display: block;
  background: rgb(14, 2, 46);
  height: 3px;
  width: 1.2em;
  border-radius: 3px;
}
.hamburguesa::after{
  transform: translateY(3px);
}
.hamburguesa::before{
  transform: translateY(-6px);
}

img {
  width: 220px;
  height: 150px;
  z-index: 20;
  
} 
.product-list figure {
  border: thin #7c7777 solid;
  display: flex;
  flex-flow: column;
  padding: 9px;
  max-width: 200px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 15px 25px
  rgba(0, 0, 0, 50);
  cursor: pointer;
  z-index: 20;
  margin: 10px;
  background: white;
}
.product-list figure img {
  max-width: 100%;
  max-height: 100%;
  transition: all 500ms ease-in-out;
  margin: 10%x;
  z-index: 20;
  margin-top: -18px;
}
.product-list{
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  height: 100%;
  flex-wrap: wrap;
  padding: 30px;
  z-index: 20;
  overflow: scroll;
  background: rgb(21 10 41 / 62%);
  border-radius: 13px;
  height: 700px;

}
figure{
  height: 190px;
  margin-left: 10px;
  z-index: 20;
}

.product-list figure .cap{
  position: absolute;
  top : 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 4, 75, 0.7);
  transition: all 500ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  left: 0px;
  right: -5px;
  border-radius: 4px;
  z-index: 20;
}
.product-list figure:hover > .cap{
  opacity: 1;
  visibility: visible;
  z-index: 20;
}
.product-list figure:hover > img{
  transform: scale(1.2);
  z-index: 20;
}

.product-list figure:hover > .cap h3{
  margin-top: 70px;
  margin-bottom: 15px;
  z-index: 20;

}
.product-list figure .cap h3{
  color: #fff;
  font-weight: 200;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
  z-index: 20;
  font-family:fantasy;
}
.product-list figure .cap p{
  color: #fff;
  font-size: 13px;
  line-height: 1.3;
  max-width: 200px;
  z-index: 20;
  /* font-family: inherit; */
  margin: 12px;
}


figcaption {
     /* background: cadetblue; */
     color: #150a29;
     font-family: fantasy;
     /* padding: 0px; */
     font-size: 20px;
     text-align: center;
     z-index: 20;
     text-transform: uppercase
  
}



.portada2{
  justify-content:space-around;
  align-items: center;
  display: flex;
  width: 100%;
  background: transparent;
  padding: 1em 0;
  height: 100%;
  flex-wrap: wrap;

}
html{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.dropdown1{
  width: 140px;
  padding: 12px 1px 12px 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: transparent;
  color:  #150a29;
  margin-top: 80px

}
.dropdown1:hover{
  color: #35ce21;
}
.portadaCen{
  margin-right:260px ;
  position: absolute;
    margin-top: 190px;
}

 @media(min-width:700px){ 
  body{
    background: url(./img/fondo.png);
    background-attachment: fixed;
    background-size: cover;
    line-height: 1;
    font-size: 1rem;
    color: #333;
    width: 100%;
  }

  h2{
    font-size:27px;;
    color: rgb(255, 230, 0);
  }
  .portada2{
    justify-content:flex-end;
    align-items:center;
    display: flex;
    width: 100%;
    padding: 1em 0;
    float: right;
      }
.dropdown2{
  margin-right: 320px
}
.dropdown1{
  margin-right:30px
}
  .menu{
    display: none;
  } 
  .labels-sort{
    display: none;
  }
.space-around{
    justify-content: space-around;
    background: rgb(21, 10, 41);
  }

.flex{
  display: flex;
}
div{
  display: block;
}
.labels-sort label{
  margin-left: 400px;
  z-index: 40;
  margin-top: 50px;

} 

 .labels-sort nav{
  background:transparent;
  float: left;
  margin-left:330px;
  clip-path: initial;
  align-content: center;
  padding: 0.1em 3em;
  z-index: 30;
}

.site-nav ul li{
  display: inline-block;
  border:none;
  left: -50px;
  z-index: 30;
}

.site-nav a{
  padding:0;
  margin-left: 4em;
  color: rgb(21,10,41);
  position: relative;
  z-index: 30;
  font-weight: bold;
}

.tipo{
  display:block;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 570px;
  height: 198px;
  z-index: 30;
} 
.tipo li a{
  padding: 1em 1.2em;
  line-height:unset;
  display: flex;
  white-space:nowrap;
  width: 100%;
  z-index: 30;
} 
.tipo li {
  width: 20%;
  float: left;
  z-index: 30;
} 

.site-nav ul li{
  float: left;
  list-style: none;
  position: block;
  z-index: 30;
} 
nav ul li a{
  display: block;
  padding: 0 2rem;
  line-height: 2rem;
  text-decoration: none;
  width: 90%;
  z-index: 30;

}
  .fa{
  background:  white;
  display: block;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.tipo li a:hover{
  background: rgb(20, 1, 27);
  color: #fdd008;
  width: 100%;
  text-shadow: 0 0 30px rgb(221, 185, 213);
}

.product-list{
  width: 75%;
  margin-left: 140px;
}


#btn{
  margin-left: 100px;
  background: red;}

.arroba {
  background: #232027;
  color: #faf4f4;
  text-align: space;
  justify-content: space-between;
  display: flex;
  
}


.footer .right {
 margin-left: 10px;
}

.right:hover {
  text-shadow: 0.0625rem 0.0625rem 0.375rem #fdd008;
}

.footer .left {
 margin-right: 10px;
}

.left a:link,
.left a img {
  
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 1.8rem;
  width: 1.8rem;
}

.imgRedes:hover {
  border-radius: 0%;
  box-shadow: inset 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;
}

#compartir {
  height: 1.8rem;
  width: 1.8rem;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* End Footer */


  .play {
  padding: 8px 10px;
  font-size: 13px;
  line-height: 7px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right bottom, #fdd008, transparent);
  color: #fff;
  border-radius: 5px;
  border: 0px;
  height: 30px;
  margin-top: 13px;
}

.btn {
  padding: 10px 20px;
  font-size: 22px;
  line-height: 20px;
  min-width: 120px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right bottom, #39e639, #079992);
  color: #fff;
  border-radius: 5px;
  border: 0px;
  height: 50px;
}

#logoPokemon {
  z-index: 3;
  height: 150px;
}


.audio {
  top: 3px;
  right: 10px;
  position: absolute;
}

.audio audio {
  width: 150%;
  height: 150%;
  filter: blur(23px);}

.counter{
  color: #333;
} 

}


/*Pantalla Modal*/

.modal-font{
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 1em;
  font-weight: bold;
}

.f-green{
  color: #333333; 
}
.font{
  
  text-transform: capitalize;
  font-size: 14px;
}
.font1{
  font-weight: bold;
  text-transform: capitalize;
  font-size: 12px;
  color: white;
  
}

#modal-mode{  
  width:100%; 
	background: rgba(39, 38, 38, 0.779);
	position:fixed;
	top:0;
	left:0; 
  z-index: 999;
  align-content: center; 
  height: 100%;
  margin: auto;
}

#modal-window{
  background: white;
  position: relative;
  top: 20%;
  width: 60%;
  height: 67%;
  border-radius: 15px;
  margin: auto;
  z-index: 1;
 }

 #div-img-modal{
  z-index: 0;
  width: 23vh;
  position: absolute;
  top: -10vh;
  background: url(./img/fondoPokemon.png);
  border-radius: 18em;
  left: calc((90% - 130vh)/2);
  margin-top: 10px;
  height: 23vh;
  background-size: cover;
  background-repeat: round;
  margin-left: 38;
  }
  #img-pokemon-modal{
    position: relative;
    left: calc((49% - 40px)/2);
    width: 120px;
    height: 120px;
  }
  #pokemon-name-modal{
    display: block;
    color:  rgb(35 32 39);
    padding: .1rem 0;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    font-size: 28px;
    z-index: 99
  }
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 3px;
    width: 70px;
    text-decoration: none;
    cursor: pointer;
  }

  /* caracteristicas del modal */
  .nombrePoke{
    text-align: center;
    color: rgb(35 32 39);
    width: auto;
    position: relative;
    top: 60px;
    font-size: 30px;
    text-transform: uppercase;
  } 
  .Characters{
    text-align: center;
    color: rgb(35 32 39);
    width: auto;
    position: relative;
    top: 60px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .icono{
    height: 30px;
    width: 30px;
  }
  .column-1{  
    width: 19%;
    height: auto;
    margin: 4px;
    border-radius: 28px
  }

 
.flex-wrap{ 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
}

.color-container{ 
  background-color: rgb(253, 253, 251); 
}
.block{ 
  display: block; 
}

.icon-medium{
  width: 30px;
  height: 32px;
  margin: 1px;
}
.one-fraction{
  text-transform: capitalize;  
  text-align: center;
  width: 100%;
}


.f-medium{
  font-size: 1.5em;;
}

.font-g{
  font-family: system-ui;
  font-weight: 700;
  text-transform: capitalize;
}
.f-medium-g{
  font-size: 0.5em;;
}

#pokemon-generacion-modal{
  display: block;
  color: rgb(35 32 39);
  padding: .1rem 0;
  width: 100%;
  text-align: center;
  margin-top: 3px;
  font-size: 16px;
}
.column-2{
  width: 39%;
  height: auto;
  padding: .2em 0;
  margin: 3px;

}
.modal2{
  margin-top: 9px;}
  

.color-container2{ 
  background-color: transparent
}

.font2{
  font-weight: bolder;
  text-align: inherit;
  text-transform: capitalize
}
.column-3{
  width: 39%;
  height: auto;
  padding: .2em 0;
  margin: 3px;

}
.flex-wrap3{
  display: flex; 
  flex-wrap: wrap; 
  margin-left: 29px;
}
.color-container3{ 
  background-color: transparent
}

.font3{
  font-weight: bolder;
  text-align: inherit;
  text-transform: capitalize;
  color: #35ce21;
}
.color-gray2{
  color: #faf4f4;
  font-size: 16px;
  font-family: -webkit-pictograph;
  font-weight: inherit;
  transition: clip-path ease-in-out 400ms;
}

.caract{
  color: rgb(51 204 102);
  font-size: 14px;
}
/* tabla de stats */
img.icon-small{
  width: 20px;
  height: 20px;
  right: 1em;
  top: 1em;      
}
.column-4{  
  width: 70%;
  justify-content: center}
.column-5{  
    justify-content: center}

.fontTabla{
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: bolder;
  text-transform: capitalize;
}

/* triple tabla de contenidos */

.two-fraction{
  text-transform: capitalize; 
  text-align: center;
  width: 45%;
}
 .f-blue{
  color: #04617e; 
}

.tablas{
  display: flex;
}

/* botones muestran datos estadisticos */
#DatosExt{
  flex-direction: column;
  width: 100%;
  position: absolute;
  float: right;
  align-content: center;
  background: white;
  height: 70px;
  margin-top: 17px;
}
.pepo{
  margin: 5px;
    color: white;
    background-color: #150a29;
    border-radius: 8px;
    width: 8%;
    padding: 12px 1px 12px 8px;
    font-size: 13px;
    font-weight: bold;
    margin-right: 20px;
    text-align: center;
    justify-items: center;
 
}



/* otros */

.relleno{
  height: 90px;
  width: 100%;
}

  /* evoluciones */
#pokemon-evolucion{
  width: 50px;
  height: 50px;
}
.left-stat{
  display: flex;
  text-align-last: auto;
  MARGIN: auto;

}
.containerTable{
  display: flex;
  flex-direction: column;
}
.tableEvoluciones{
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: rgb(58, 8, 87);
}
.tablePa{
  flex-direction:column ;
}

/* resistant modal */
.spaceElement{
    border: solid;
    margin-bottom: 2px,4px,45px,34px;
    padding: 5px;
    background: #232027;
    color: white;
    border-radius: 10px;
    font-size: 16px;

}
.spaceElementF{
      display: flex;
      flex-wrap: wrap;
}
.box1 {
  width: 60%;
  margin-top: 16px;}

.titulo{
  margin-bottom: 7px;
  color: #232027;
  font-size: 20px;
}
.SizeTable{
  font-size: 20px;
}
.flex-wrap2{
  display: flex; 
  margin-top: 13px;
}
/* top10 */
.chance{
  align-items: flex-end;
}
.footerModal {
  position: absolute;
  height: 30px;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #150a29;
  color: white;
  text-align: space;
  align-content: end;
  display: flex;
}